
.is-current
{
  /* background-color: whitesmoke; */
  color: #282c34 !important;
}

.is-current a
{
  background-color: #434547;
  color: #77dfff !important;
  z-index: 5;
}

a
{
  color: #0c7291;
}


* {
  margin: 0;
  z-index: 2; 
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

.App {
  text-align: center;
  background-color: #282c34;
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;
  /* background:-moz-element(#particle-div); had some problems making it the background with traditional methods, switched to this for the time being */
  
}


body {
  background-color: #282c34;
  margin:0px;
    padding:0px;
    z-index: -5;
}

#particle-div{
  pointer-events: none;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  /* z-index: -1; */
}




#navbar {
  top: 0;
  width: 100%;
  overflow: hidden;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  position: fixed;
  list-style: none;
  background-color: #505153;
  /* border-bottom: 1px solid rgb(105, 102, 109);  */
  /* border-top: 1px solid rgb(105, 102, 109); */
  z-index: 100;
}


#navbar ul {
  list-style-type:none;
  z-index: 100;
}

#navbar li {
  float: right; 
  /* display:inline-block; */
  z-index: 100;
}

#navbar li a {
  font-family: '8BITWONDERNominal'; 
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  
  color: whitesmoke;
  /* border-right: 1px solid rgb(105, 102, 109);  */
  z-index: 100;
}

/* section#Skills:hover ~ nav a[href="#Skills"] */
/* #nav a:hover,
section #Home:hover ~ #nav a[href="#Home"],
section #Home:hover ~ #nav a[href="#Skills"]
{
  background: whitesmoke;
  color: #282c34;
} */



#intro{
  /* padding-top: 150px; */
  position: relative;;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
}

#intro-text{
  /* float: left; */
  padding-top: 20%;
  color: whitesmoke;
  z-index: 10;
  text-align: center;
  left: 0;
  position: inline-block;
  top:  0;
}


#skills {
  /* position:absolute; */
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
}

#skills-text {
  padding-top: 20%;
  color: whitesmoke;
  z-index: 10;
  text-align: center;
  left: 0;
  position: inline-block;
  top:  0;
}

#skills-table table{
  border-collapse: collapse;
  left: 0;
  position: inline-block;
  text-align: center;
  top:  0;
  margin: auto;
}

#skills-table th {
  margin-right: 20px;
  border-bottom: 1px solid whitesmoke;
}


.active {
  color: #77dfff;
}

#projects-table
{
  padding-top: 5%;
  padding: 70px 0;
  position: relative;
}

.reactTable {
  margin: 0 auto;
  height: 300px;
  width: 50%;
  /* color: whitesmoke; */
  background: whitesmoke;
}

#table{
  margin: 0 auto;
  margin-top: 10%;
  top: 50%;
}

#table h1{
  color: whitesmoke;
  padding: 10px;
}


#email 
{
  color: whitesmoke;
  text-decoration: none;
}

#footer
{
  
}




