
* {
  margin: 0;
}

a,
a label {
    cursor: pointer;
}

.App {
  text-align: center;
  background-color: #282c34;
  margin:0px;
  padding:0px;
  background:-moz-element(#particle-div);
  
}


body {
  background-color: #282c34;
  margin:0px;
    padding:0px;
}

#particle-div{

  margin:0px;
    padding:0px;
  pointer-events: none;
  position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}




#navbar {
  top: 0;
  width: 100%;
  overflow: hidden;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  position: fixed;
  list-style: none;
  background-color: #505153;
  border-bottom: 1px solid rgb(105, 102, 109); 
  border-top: 1px solid rgb(105, 102, 109);
}


#navbar ul {
  list-style-type:none;
}

#navbar li {
  float: right; 
  display:inline-block;
}

#navbar li a {
  font-family: '8BITWONDERNominal'; 
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  /* font-weight: bold; */
  color: whitesmoke;
  border-right: 1px solid rgb(105, 102, 109); 

}

#navbar li a.active{
  color: white;
}

#intro{
  /* padding-top: 150px; */
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;

}

#intro-text{
  /* float: left; */
  padding-top: 25%;
  color: whitesmoke;
  
  text-align: center;
  left: 0;
  position: inline-block;
  top:  0;
}

